

.dg-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .dg-container {
    max-width: 460px;
  }
}

@media (min-width: 768px) {
  .dg-container {
    max-width: 615px;
  }
}

@media (min-width: 992px) {
  .dg-container {
    max-width: 793px;
  }
}

@media (min-width: 1200px) {
  .dg-container {
    max-width: 960px;
  }
}

@media (min-width: 1440px) {
  .dg-container {
    max-width: 1152px;
  }
}