
.hp-title{
  font-weight: 900;
  font-size: 60px;
  line-height: 64px;
  color: #2C2D2F;
}

.hp-title2{
  margin: auto;
  font-weight: 900;
  font-size: 48px;
  line-height: 54px;
  color: #6415FF;
}

.hp-desc {
  margin: auto;
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  color: #2C2D2F;
  opacity: 0.8;
}

.d-f-1 {
  font-weight: 700;
  color: #2C2D2F;
  font-size: 34px;
}

.d-f-2 {
  font-weight: 700;
  color: #2C2D2F;
  font-size: 18px;
}

.d-f-3 {
  font-weight: 700;
  color: #86898C;
  font-size: 18px;
}

.d-f-4 {
  font-weight: 700;
  color: #6415FF;
  font-size: 18px;
}

