
.dg-table {
  margin-bottom: 50px;
  box-shadow: 0px 20px 40px rgba(21, 58, 255, 0.1);
  border-radius: 24px;
  background-color: white;
}

.dg-cardtable {
  border-radius: 24px;
  background-color: white;
}