
.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-7 {
  font-weight: 700;
}

.fw-9 {
  font-weight: 900;
}

.d-p {
  color: #6415FF
}

.d-g1 {
  color: #2C2D2F
}

.d-g2 {
  color: #4D535C
}

.d-g3 {
  color: #86898C
}

.d-g4 {
  color: #BDBDBD
}

.d-g5 {
  color: #E0E0E0
}

.d-g6 {
  color: #F2F2F2
}

.d-g0 {
  color: #FFFFFF
}

.ma {
  margin: auto;
}

.ta-c {
  text-align: center;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-24 {
  font-size: 24px;
}

.fs-28 {
  font-size: 28px;
}

.fs-32 {
  font-size: 32px;
}

.fs-34 {
  font-size: 34px;
}